img {
    width: 200px;
    
}

body {
    padding: 40px;
    background-color: pink;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
  

}

.grid-container {
    display: grid;
}
